body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: rgb(246, 249, 252) !important;
  color: rgb(43, 52, 69);
}

h1 {
  color: rgb(43, 52, 69) !important;
}

.logo-name {
  color: rgb(233, 69, 96);
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  font-family: "Dancing Script", cursive;
}

.button {
  display: flex;
  width: unset;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-weight: 600 !important;
  background: rgb(233, 69, 96) !important;
  transition: all 150ms ease-in-out 0s;
  line-height: 1;
  border: none;
  color: rgb(255, 255, 255) !important;
  height: 40px !important;
  font-size: 14px;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

h1 {
  font-family: "Lato", sans-serif !important;
  color: #fff !important;
}

.card {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px !important;
  border-radius: 8px !important;
  transition: all 250ms ease-in-out 0s;
  margin: 25px 0px !important;
}
.card .card-img {
  width: 100%;
}
.card h3 {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0px;
  color: rgb(55, 63, 80);
}
.card .h3-svg {
  display: flex;
}
.card .h3-svg svg {
  height: 18px !important;
  width: 18px !important;
  margin-right: 10px;
}
.card span {
  font-size: 14px;
  font-weight: 600;
  padding-right: 0.5rem;
  color: rgb(233, 69, 96);
}
.card .main-prize {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 600;
  color: rgb(125, 135, 156);
}
.card .card-body {
  position: relative !important;
}
.card .card-body small {
  background-color: rgb(233, 69, 96);
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 3%;
  top: 2%;
  padding: 3px 10px;
  border-radius: 15px;
}

.card:hover {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 8px 45px !important;
  cursor: pointer !important;
}

.slick-prev {
  left: 0px !important;
  z-index: 1 !important;
}

.slick-next {
  right: 0px !important;
  z-index: 1 !important;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(233, 69, 96) !important;
  opacity: 1 !important;
  font-size: 30px !important;
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active button:hover {
  color: rgb(233, 69, 96) !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.top-header-main {
  background: rgb(15, 52, 96);
  color: #fff;
  min-height: 45px;
  position: relative;
}

.header-inner-main {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
}

.header-inner-l {
  margin-top: 10px;
}
.header-inner-l a,
.header-inner-l a:hover {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}
.header-inner-l a:nth-child(2) {
  margin-left: 30px;
}
.header-inner-l a i {
  color: #fff !important;
  margin-right: 5px;
}

.header-inner-r {
  margin-top: 10px;
}
.header-inner-r a,
.header-inner-r a:hover {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}
.header-inner-r a:nth-child(2) {
  margin-left: 30px;
}

.slide-main-r img {
  width: 100% !important;
}

.header-main-main {
  background: rgb(255, 255, 255);
  position: -webkit-sticky;
  position: sticky;
  box-shadow: rgba(43, 52, 69, 0.1) 0px 4px 16px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.search-main-m {
  padding: 0px 20px;
}

.search-main {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 20px;
  width: 400px;
  position: relative;
}
.search-main input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 20px;
  width: 100%;
}
.search-main i {
  position: absolute;
  right: 10px;
  top: 8px;
  color: rgb(218, 225, 231);
}

.user-m i {
  background-color: rgb(218, 225, 231);
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
}
.user-m i:nth-child(2) {
  margin-left: 30px;
}

.home-slider {
  min-height: 500px;
  width: 100%;
  background-color: #fff;
}
.home-slider .slick-dots li button {
  border: 1px solid rgb(43, 52, 69) !important;
  border-radius: 50% !important;
}
.home-slider .slick-dots li button::before {
  margin-top: 1px !important;
  margin-left: 0px !important;
}

.home-slider .slick-prev,
.home-slider .slick-next {
  display: none !important;
}
.home-slider .slick-dots {
  bottom: 28px !important;
}

.slide-main {
  display: flex !important;
  justify-content: space-around;
  min-height: 500px;
}
.slide-main h1 {
  color: rgb(43, 52, 69) !important;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 54px;
}

.slide-main-l {
  padding: 115px 0px 40px 0px;
}

.slide-main-r {
  display: flex;
  align-items: center;
}
.slide-main-r img {
  margin-top: 50px;
  width: 100% !important;
}

.slide-main-r img {
  width: 100% !important;
}

.section-title-main h4 {
  color: rgb(43, 52, 69) !important;
  padding-top: 55px !important;
  font-size: 25px;
  font-weight: 700;
}
.section-title-main h4 i {
  margin-right: 10px;
  color: rgb(233, 69, 96) !important;
}

footer {
  background-color: rgb(15, 52, 96);
}
footer .footer-inner-main {
  padding: 50px 0px;
}
footer li {
  list-style-type: none;
  font-size: 14px;
  color: rgb(174, 180, 190);
  text-align: justify;
}
footer .header-title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 15px;
  font-size: 14px;
  color: rgb(174, 180, 190);
}
footer ul li a {
  text-decoration: none;
  color: rgb(174, 180, 190);
}
footer ul li a:hover {
  color: #fff;
}
footer ul li:hover {
  color: #fff;
}

@media (max-width: 992px) {
  .slide-main-r img {
    width: 230px;
  }
  .header-title {
    padding-top: 25px;
  }
}
@media (max-width: 576px) {
  .user-m {
    display: none !important;
  }
  .search-main {
    width: 246px;
  }
  .top-header-main {
    display: none;
  }
}
@media (max-width: 400px) {
  .slide-main {
    width: 100% !important;
    justify-content: space-between !important;
  }
  h1 {
    font-size: 26px !important;
  }
}
.slide-main-r img {
  margin-top: 50px;
  width: 100% !important;
}/*# sourceMappingURL=style.css.map */